<div class="row" ng-controller="GalleryController">
	<div class="panel" ng-repeat="producto in productos">
	  <div class="panel-heading clearfix">
	      <h3 class="panel-title">{$ producto.nombre $}</h3>
	      <author class="pull-right">{$ producto.introduccion $}</author>
	  </div>
	  <p class="well">{$ producto.caracteristicas $}</p>
	</div>
</div>