{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
{% load url from future %}
     
      <!-- Page content -->
      
      <div class="error-block blocky text-center" style="min-height: 492px;">
         <div class="container" style="padding-top: 70px;">
            <h2>Oops<span class="color">!!!</span> Error<span class="color"></span> 404<span class="color">!!!</span></h2>
            <p class="error-para">Lo sentimos, la página que busca no existe o la URL es incorrecta. </p>
            <div class="sep-bor"></div>            
            
            <div class="link-list">
              <h5>Secciones del sitio: </h5>
              <a href="{% url 'index' %}">Inicio</a> 
              <a href="{% url 'nosotros' %}">Nosotros</a>               
              <a href="{% url 'contacto' %}">Contacto</a>
            </div>
            <div class="sep-bor"></div>
         </div>
      </div>      
     
    
{% endblock %}