{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html ng-app="galleryApp">
	<head>
		<!-- Title here -->
		<title>Fox Steel</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Your description">
		<meta name="keywords" content="Your,Keywords">
		<meta name="author" content="Rafael Morales">
		<meta name="author" content="AAlvAAro | Álvaro Delgado Covarrubias">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600italic,600' rel='stylesheet' type='text/css'>
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->		
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Animate css -->
      <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
      <!-- Dropdown menu -->
      <link href="{% static 'css/ddlevelsmenu-base.css' %}" rel="stylesheet">
      <link href="{% static 'css/ddlevelsmenu-topbar.css' %}" rel="stylesheet">
      <!-- Countdown -->
      <link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet">     
		<!-- Font awesome CSS -->
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">		
		<!-- Custom CSS -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		
		<!-- Favicon -->
	</head>	
	<body> 
           
      <!-- Logo & Navigation starts -->
      
      <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-2">
                  <!-- Logo -->
                  <div class="logo">
                     <h1><a href="/"><img src="{% static 'img/logo-foxsteel.png' %}"/></a></h1>
                  </div>
               </div>
               <div class="col-md-10 col-sm-5">
                  <!-- Navigation menu -->
					<div class="navi">
						<div id="ddtopmenubar" class="mattblackmenu">
							<ul>
								<li><a href="#/inicio">Inicio</a></li>
	                           	<li><a href="#/nosotros">Nosotros</a></li>
								<li><a href="#/productos"> <!--rel=ddsubmenu1-->Productos</a>
								<!--	<ul id="ddsubmenu1" class="ddsubmenustyle">
										{% for e in categorias %}
										<li><a href="{% url 'productos' %}">{{e.nombre}}</a></li>            	
	                                 	{% endfor %}		                                
									</ul> -->
								</li>							
								<li><a href="#/blog">Blog</a></li>  
							
								<li><a href="#/contacto">Contacto</a></li>
							</ul>
						</div>
					</div>

						<!-- Dropdown NavBar -->
                  <div class="navis"></div>                  
                  
               </div>
               </div>
            </div>
         </div>
      </div>
      
      <!-- Logo & Navigation ends -->
	
	<!-- Angular App -->
    <div ng-view></div>	
    <!-- End Angular App -->

	   <!-- Footer starts -->
      <footer>
         <div class="container">
            <div class="copy text-center">
               Foxsteel Todos los derechos reservados 2014 -  <a>Aviso de Privacidad</a>
            </div>
         </div>
      </footer>
      <!-- Footer ends -->
      
	  <!-- Scroll to top -->
	  <span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>       
	<!-- Javascript files -->	
	<!-- Angular Files and Dependencies -->
	<script src="{% static 'catalogo/bower_components/angular/angular.js' %}"></script>
    <script src="{% static 'catalogo/bower_components/angular-cookies/angular-cookies.js' %}"></script>
    <script src='{% static "catalogo/bower_components/angular-route/angular-route.js" %}'></script>
    <script src='{% static "catalogo/bower_components/angular-sanitize/angular-sanitize.js" %}'></script>   
    <script src="{% static 'catalogo/bower_components/app.js' %}"></script>
    <script src='{% static "catalogo/bower_components/controllers.js" %}'></script>

	<!-- jQuery -->	
	<script src="{% static 'js/jquery.js' %}"></script>
	<!-- Bootstrap JS -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Dropdown menu -->
	<script src="{% static 'js/ddlevelsmenu.js' %}"></script>      
      <!-- CaroFredSel -->
      <script src="{% static 'js/jquery.carouFredSel-6.2.1-packed.js' %}"></script> 
      <!-- Countdown -->
      <script src="{% static 'js/jquery.countdown.min.js' %}"></script>    
      <!-- jQuery Navco -->
      <script src="{% static 'js/jquery.navgoco.min.js' %}"></script>
      <!-- Filter for support page -->
      <script src="{% static 'js/filter.js' %}"></script>         
	<!-- Respond JS for IE8 -->
	<script src="{% static 'js/respond.min.js' %}"></script>
	<!-- HTML5 Support for IE -->
	<script src="{% static 'js/html5shiv.js' %}"></script>
	<!-- Custom JS -->
	<script src="{% static 'js/custom.js' %}"></script>
	{% block map %}{% endblock map %}	
	</body>	
</html>