{% extends "base.html" %}

{% block content %}
{% load staticfiles %}  
{% load url from future %}    
<!-- Page title -->
<div class="page-title">
   <div class="container">
      <h2><i class="icon-folder-open color"></i> Blog </h2>
      <hr />
   </div>
</div>
<!-- Page title -->

<!-- Page content -->

<div class="blog">
   <div class="container">
      <div class="row">
            <div class="col-md-9">
               <div class="posts">

                  {% for p in posts %}
                  <!-- Each posts should be enclosed inside "entry" class" -->
                  <!-- Post one -->
                  <div class="entry">
                     <h2><a href="{% url 'post' slug=p.slug %}">{{p.titulo}}</a></h2>
                     
                     <!-- Meta details -->
                     <div class="meta">
                        <i class="icon-calendar"></i> {{p.fecha}}
                     </div>
                     
                     <!-- Thumbnail -->
                     <div class="bthumb">
                        <a href="{% url 'post' slug=p.slug %}"><img src="{{p.imagen}}" width="100%" alt="" class="img-responsive" /></a>
                     </div>
                     
                     <!-- Para -->
                     <p>{{p.contenido|safe|slice:":200"}}</p>

                     <!-- Read more -->
                     <a href="{% url 'post' slug=p.slug %}" class="btn btn-info">Leer más...</a>
                  </div>
                  {% endfor %}                        
                 
                  
                  <!-- Pagination -->
                  <ul class="pagination" style="text-align: center;">
                    {% if posts.has_previous %}
                    <li><a href="?page={{posts.previous_page_number}}">&laquo; Anterior</a></li>
                    {% endif %}
                    <li><a href="" style="pointer-events: none; cursor: default;">Página {{posts.number}} de {{posts.paginator.num_pages}}</a></li>                
                    {% if posts.has_next %}
                    <li><a href="?page={{posts.next_page_number}}">Siguiente &raquo;</a></li>
                    {% endif %}
                  </ul> 
                  
                  <div class="clearfix"></div>
                  
               </div>
            </div>                       
           

            <div class="col-md-3">

              <!-- Sidebar 2 -->
               <div class="sidebar">
                  {% include "extensions/sidebar.html" %}                       
               </div>                                                
            </div>
        </div>
    </div>
</div>  

      
   {% endblock %}