{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
{% load url from future %}
      <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><a href="/blog"><i class="icon-tag color"></i> Blog </a></h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="blog">
         <div class="container">
            <div class="row">
                  <div class="col-md-9 col-sm-9">
                           <div class="posts">
                           
                              <!-- Each posts should be enclosed inside "entry" class" -->
                              <!-- Post one -->
                              <div class="entry">
                                 <h2>{{post.titulo}}</h2>
                                 
                                 <!-- Meta details -->
                                 <div class="meta">
                                    <i class="icon-calendar"></i> {{post.fecha}}
                                 </div>
                                 
                                 <!-- Thumbnail -->
                                 <div class="bthumb">
                                    <a href="#"><img src="{{post.imagen}}" alt="" width="100%" class="img-responsive" /></a>
                                 </div>
                                 
                                 <!-- Para -->
                                 <p>{{post.contenido|safe}}</p>

                              </div>
                              
                            <!-- Comment section -->   
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                                var disqus_shortname = 'foxsteel'; // required: replace example with your forum shortname

                                /* * * DON'T EDIT BELOW THIS LINE * * */
                                (function() {
                                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                                           
                             
                              
                             
                            <div class="clearfix"></div>
                            <br><br>
                              
   
                              
                           </div>
                        </div>                        
                        <div class="col-md-3 col-sm-3">

                            <!-- Sidebar 1 -->

                           <div class="sidebar">                             
                              {% include "extensions/sidebar.html" %}                      
                           </div>                                                
                        </div>

                        
    </div>
         </div>
      </div>
      
      
  {% endblock %}