{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

      <!-- Page content -->
      
      <div class="contactus ">
            <!-- Google maps -->
            <div id="responsive_map"></div>
            <style type="text/css">
            #responsive_map {height: 500px; width: 100%;}
            #responsive_map div {-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
            .gm-style-iw {max-width: none !important; min-width: none !important; max-height: none !important; min-height: none !important; overflow-y: hidden !important; overflow-x: hidden !important; line-height: normal !important; padding: 5px !important; }
            </style>
            
            <div class="container">
                        <div class="row">
                           <div class="col-md-6 col-sm-7">
                              <div class="cwell">
                                 <!-- Contact form -->
                                    <h5>Pongase en contacto con nosotros</h5>
                                    
                                    <form role="form">
                                      <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input type="text" class="form-control" id="name" placeholder="Ingresar nombre" required="true">
                                      </div>                                    
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">E-mail</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresar correo electronico" required="true">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Asunto</label>
                                        <textarea class="form-control" rows="3" required="true"></textarea>
                                      </div>                                      
                                      <button type="submit" class="btn btn-info">Enviar</button>
                                      <button type="reset" class="btn btn-default">Borrar Todo</button>
                                    </form>
                                    
                                 </div>
                           </div>
                           <div class="col-md-6 col-sm-5">
                                 <div class="cwell">
                                    <!-- Address section -->
                                       <h5>Dirección</h5>
                                       <div class="address">
                                           <address>
                                              <!-- Company name -->
                                              <h6>Foxsteel</h6>
                                              <!-- Address -->
                                              Periferico Nueva España #6442-B<br>
                                              Morelia, Michoacán CP 58229<br>
                                              <!-- Phone number -->
                                              <abbr title="Phone">Tel:</abbr> (443) 324-4706
                                           </address>
                                            
                                           <address>
                                              <!-- Name -->
                                              <h6>Correo electronico</h6>
                                              <!-- Email -->
                                              <a href="mailto:contacto@foxsteel.com">contacto@foxsteel.com</a>
                                           </address>
                                           
                                       </div>
                                 </div>
                           </div>
                        </div>

         </div>
      </div>
      
      
      <!-- Catchy starts -->
      <div class="catchy blocky">
      </div>      
      
{% endblock %}

{% block map %}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3.exp"></script>
<script src="{% static 'js/jquery.gmap.min.js' %}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  $("#responsive_map").gMap({
     maptype: google.maps.MapTypeId.ROADMAP, 
     zoom: 14, 
     markers: [{
       latitude: 19.7088639, 
       longitude: -101.16426079999997, 
       html: "<h1>Foxsteel</h1>", 
       popup: true, 
       flat: true, 
       icon: { 
         image: "icons/icon.png", 
         iconsize: [32, 37], 
         iconanchor: [15, 30], 
         shadow: "icons/icon-shadow.png", 
         shadowsize: [32, 37], 
         shadowanchor: null}
        } 
      ], 
     panControl: false, 
     zoomControl: true, 
     mapTypeControl: false, 
     scaleControl: false, 
     streetViewControl: true, 
     scrollwheel: false, 
     styles: [ { "stylers": [ { "hue": "#b4582b" }, { "gamma": 1.58 } ] } ], 
     onComplete: function() {
       // Resize and re-center the map on window resize event
       var gmap = $("#responsive_map").data('gmap').gmap;
       window.onresize = function(){
         google.maps.event.trigger(gmap, 'resize');
         $("#responsive_map").gMap('fixAfterResize');
       };
    }
  });
});
</script>
{% endblock %}