      
      <div class="clearfix"></div>
      
         <!-- Carousel starts -->
              
         <div id="carousel-example-generic" class="carousel slide">
           <!-- Indicators -->
           <ol class="carousel-indicators">
             <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
             <li data-target="#carousel-example-generic" data-slide-to="1"></li>
             <li data-target="#carousel-example-generic" data-slide-to="2"></li>
           </ol>

           <!-- Wrapper for slides -->
           <div class="carousel-inner">
             <!-- Item -->
             <div class="item active animated fadeInRight">
               <img src="{% static 'img/back1.jpg' %}" alt="" class="img-responsive" />
               <div class="carousel-caption">
<!--                 <h2 class="animated fadeInLeftBig">Lorem ipsum dolor sit amet</h2>
 --><!--                 <p class="animated fadeInRightBig">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Donec tristique est sit amet diam interdum semper. </p>
 -->                 <!--<a href="#" class="animated fadeInLeftBig btn btn-info btn-lg">Buy Now - $199</a>
 -->               </div>
             </div>
             
             <div class="item animated fadeInRight">
               <img src="{% static 'img/back2.jpg' %}" alt="" class="img-responsive" />
               <div class="carousel-caption">
<!--                 <h2 class="animated fadeInLeftBig">Mauris semper tincidunt suscipit</h2>
 -->                 <!--<p class="animated fadeInRightBig">Donec tristique est sit amet diam interdum semper. Vestibulum <strong>condimentum ante urna</strong>, vel interdum odio accumsan id.</p> -->
                 <!--<a href="#" class="animated fadeInLeftBig btn btn-info btn-lg">Buy Now - $299</a> -->
               </div>
             </div>

             <div class="item animated fadeInRight">
               <img src="{% static 'img/back3.jpg' %}" alt="" class="img-responsive" />
               <div class="carousel-caption">
<!--                 <h2 class="animated fadeInLeftBig">Phasellus et nisi tincidunt</h2>
 -->                 <!--<p class="animated fadeInRightBig">Lorem <strong>ipsum dolor sit amet</strong>, consectetur adipiscing elit. Vestibulum condimentum ante urna, vel interdum odio accumsan id.</p> -->
                 <!--<a href="#" class="animated fadeInLeftBig btn btn-info btn-lg">Buy Now - $479</a> -->
               </div>
             </div>          
           </div>

           <!-- Controls -->
           <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
             <span class="icon-prev"></span>
           </a>
           <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
             <span class="icon-next"></span>
           </a>
         </div>
         
         <!-- carousel ends -->
		
      <!-- Hero starts -->
      
      <div class="hero">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <!-- Catchy title -->
                  <h3>Mobiliario y equipo de acero inoxidable para cocina industrial.</h3>
                  <p>Soluciones integrales y apoyo profesional en sus proyectos de negocios, <br/> en el ramo del manejo de alimentos.</p>
               </div>
            </div>
          <div class="sep-bor"></div>
         </div>
      </div>
      
      <!-- Hero ends -->  
      
      <!-- Items List starts -->

      <div class="shop-items blocky">
        <div class="container">
          
         <div class="row">
            <!-- Item #1 -->
            {% for e in estrellas %}
            <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="item">
                {% if e.producto_estrella %}
                <!-- Use the below link to put HOT icon -->                
                <div class="item-icon"><span><i class="icon-star white"></i></span></div>
                {% endif %}
                <!-- Item image -->
                <div class="item-image">
                  <a href="/productos/{{e.slug}}"><img src="{{e.imagen}}" alt="" class="img-responsive"/></a>
                </div>
                <!-- Item details -->
                <div class="item-details">
                  <!-- Name -->
                  <h5><a href="/productos/{{e.slug}}">{{e.nombre}}</a></h5>
                  <div class="clearfix"></div>
                  <!-- Para. Note more than 2 lines. -->
                  <p>{{e.introduccion}}</p>
                  <hr />                 
                  <div class="pull-right"><a href="/productos/{{e.slug}}" class="btn btn-danger btn-sm">Ver Producto</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div> 
            {% endfor %}     
            </div>
            </div>           
         
      
      <!-- Recent Items -->	
          {% include "extensions/new.html" %}
      <!-- Recent Items Ends -->	
      
      <!-- Clients starts -->
      <div class="clients blocky">
         <div class="container">
                  
            <div class="row">
              <div class="col-md-1 col-sm-4 col-xs-6"></div>
               <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="{% static 'img/clients/amana.png' %}" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="{% static 'img/clients/asber.png' %}" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="{% static 'img/clients/bras.png' %}" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="{% static 'img/clients/dalla.png' %}" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="{% static 'img/clients/pavoni.png' %}" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-1 col-sm-4 col-xs-6"></div>                
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-4 col-xs-6"></div>
              <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="{% static 'img/clients/robot.png' %}" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="{% static 'img/clients/sanson.png' %}" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="{% static 'img/clients/true.png' %}" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="{% static 'img/clients/vitamix.png' %}" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6"></div>
            </div>
         </div>
      </div>
      <!-- Clients ends -->
