{% extends "base.html" %}

{% block content %}
{% load staticfiles %}      
<!-- Page title -->
<div class="page-title">
   <div class="container">
      <h2><i class="icon-briefcase color"></i> Nosotros </h2>
      <hr />
   </div>
</div>
<!-- Page title -->

<!-- Page content -->
 <div class="blocky">
 <div class="container">
    <div class="row">
       <div class="col-md-6" style="padding-top: 40px;">
          <div class="reg-login-info">             
             <img src="{% static 'img/back1.jpg' %}" alt="" class="img-responsive img-thumbnail" />             
          </div>
       </div>
       <div class="col-md-6">
          <div class="register-login">
             <div class="cool-block">
                <div class="cool-block-bor">                
                   <h2>MISION</h2>
                   <p>Proveer soluciones funcionales a la industria del manejo de alimentos mediante la comercialización de equipo, mobiliario y servicios de la calidad qeu respalden su inversión.</p>                   
                </div>
             </div>   
          </div>
       </div>
    </div>
    <div class="row">      
       <div class="col-md-6">
          <div class="register-login">
             <div class="cool-block">
                <div class="cool-block-bor">                
                   <h2>VISION</h2>
                   <p>Posicionar a foxsteel como la mejor opción de proveeduría de equipamiento y servicios en los negocios de manejo de alimentos, buscando mantener con ellos una relación estable, positiva y duradera.</p>                   
                </div>
             </div>   
          </div>
       </div>
        <div class="col-md-6" style="padding-top: 40px;">
          <div class="reg-login-info">             
             <img src="{% static 'img/back1.jpg' %}" alt="" class="img-responsive img-thumbnail" />             
          </div>
       </div>
    </div>
    <div class="row">      
        <div class="col-md-6" style="padding-top: 40px;">
          <div class="reg-login-info">             
             <img src="{% static 'img/back1.jpg' %}" alt="" class="img-responsive img-thumbnail" />             
          </div>
       </div>
       <div class="col-md-6">
          <div class="register-login">
             <div class="cool-block">
                <div class="cool-block-bor">                
                   <h2>VALORES</h2>
                   <p>Es compromiso de Fox Steel atender a clientes y proveedores con espíritu de servicio, profesionalismo, lealtad, alianza y ética en los netocios.
                   	Es también compromiso de Fox Steel garantizar rentabilidad en las operaciones comerciales para ofrecer certeza y solvencia económica a clientes, proveedores, socios y colaboradores.
                   </p>                   
                </div>
             </div>   
          </div>
       </div>
    </div>   
    <br>
    <!-- Page title -->
  <div class="page-title">
     <div class="container">
        <h2><i class="icon-wrench color"></i> Infraestructura</h2>
        <hr />
     </div>
  </div>
	<div class="faq">
         <div class="container">
            <div class="row">
               <div class="col-md-12">               
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle">
                            PERSONAL
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                         EXPERIENCIA DE 15 AÑOS EN EL MERCADO, CON PERSONAL  TECNICO CALIFICADO CON EL QUE GARANTIZAMOS SERVICIO PROFESIONAL RESPALDADO POR NUESTROS PROVEEDORES.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" >
                            SALA DE EXHIBICIÓN
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse in">
                        <div class="panel-body">
                          CONTAMOS CON SALA DE EXHIBICION Y CONVENIO CON FABRICANTES, REPRESENTANTES DE MARCAS E IMPORTADORES PARA GARANTIZAR EL SUMINISTRO DE EQUIPOS EN EL TIEMPO COMPROMETIDO.
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle">
                           FABRICACIÓN DE MOBILIARIO
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse in">
                        <div class="panel-body">
                          OFRECEMOS FABRICACION DE MOBILIARIO ESTANDAR Y DE DISEÑO ESPECIAL EN ACERO INOXIDABLE, LAMINA CON ACABADOS EN PINTURA EN POLVO; MUEBLES DE MDF Y CUBIERTAS DE SUPERFICIE SOLIDA.
                        </div>
                      </div>
                    </div>     
                     <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle">
                           SERVICIO TÉCNICO
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <strong><em>PERSONAL CALIFICADO: </em></strong>PERSONAL CALIFICADO.-CONTAMOS CON PERSONAL CALIFICADO, CERTIFICADO Y AUTORIZADO PARA DAR SERVICIO A LOS EQUIPOS DE LAS MEJORES MARCAS DEL MERCADO. <br><br>
                          <strong><em>TALLER DE SERVICIO: </em></strong>DISPONEMOS DE TALLER DE SERVICIO EQUIPADO CON HERRAMIENTA Y APARATOS DE MEDICIÓN. <br><br>
                          <strong><em>REFACCCIONES ORIGINALES: </em></strong>CONTAMOS CON EXISTENCIA DE LAS REFACCIONES DE MAYOR MOVIMIENTO Y CONVENIO CON LOS PROVEEDORES DE EQUIPOS PARA OBTENER REFACCIONES DE SUS ALMACENES EN 24 HRS.
                        </div>
                      </div>
                    </div>                    
                  </div>               
               </div>
            </div>            
         </div>
      </div>
      <br>		
 </div>
</div>
{% endblock %}
