     
      <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="icon-asterisk color"></i> MAESTRA ZEM </h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="shop-items">
         <div class="container">
            
            <div class="row">
               
               <div class="col-md-9 col-md-push-3">
               
                  <!-- Breadcrumb -->
                 <ul class="breadcrumb">
                   <li><a href="/">Inicio</a> <span class="divider"></span></li>
                   <li><a href="/productos">Productos</a> <span class="divider"></span></li>
                   <li class="active">{{producto.nombre}}</li>
                 </ul>
               
                  <div class="single-item">
                      <div class="row">
                        <div class="col-md-4 col-xs-5">

                          <div class="item-image">
                              <img src="{{producto.imagen}}" alt="" />
                          </div>
                              

                        </div>
                        <div class="col-md-5 col-xs-7" style="margin-top: 30px;">
                          <!-- Title -->
                            <h2>{{producto}}</h2>                           
                            <p>{{producto.introduccion}}</p>                             
                      
                        </div>
                      </div>
                    </div>

            <br /><br>
            <br>
            <br>
                    
                   <!-- Description, specs and review -->

                    <ul id="myTab" class="nav nav-tabs">                     
                      <!-- Use uniqe name for "href" in below anchor tags -->
                      <li class="active"><a href="%tab1" data-toggle="tab">Caracteristicas</a></li>
                      <li><a href="#tab2" data-toggle="tab">Dimensiones</a></li>
                      <li><a href="#tab3" data-toggle="tab">Consumos</a></li>
                    </ul>

                    <!-- Tab Content -->
                    <div id="myTabContent" class="tab-content">
                      
                      <!-- Description -->
                      <div class="tab-pane fade in active" id="tab1">
                        <h4><strong>{{producto.nombre}}</strong></h4>
                        {{producto.descripcion}}
                      </div>                   

                      <!-- Sepcs -->
                      <div class="tab-pane fade" id="tab2">
                      <h4><strong>Dimensiones</strong></h4>
                      <h5>{{producto.dimensiones}}</h5>
                      </div>         

                        <!-- Review -->
                      <div class="tab-pane fade" id="tab3">
                        <h4><strong>Consumos:</strong></h4>
                        <h5>{{producto.consumos}}</h5>                        
                      </div>            
                    </div>
               
               </div>

               
               <div class="col-md-3 col-md-pull-9">         
                  
                  <!-- Sidebar items (featured items)-->

                   <div class="sidebar-items">                     
                      
<h5>Productos Recomendados</h5>

  
   <!-- Item #1 -->
   <div class="sitem" ng-repeat="item in items">
     <div class="onethree-left">
       <!-- Image -->
       <a href="{{producto.slug}}"><img src="{{producto.imagen}}" alt="" class="img-responsive"/></a>
     </div>
     <div class="onethree-right">
       <!-- Title -->
       <a href="{{producto.slug}}">{{producto.nombre}}</a>
       <!-- Para -->
       <p>{{producto.intro}}</p>       
     </div>
     <div class="clearfix"></div>
   </div> 
  
   
   
                    
                   </div>
               </div>
            </div>
            
            <div class="sep-bor"></div>
         </div>
      </div>
     
      
      <!-- Recent Items -->
  
      
<div class="recent-posts blocky">
 <div class="container">
    <div class="row">
       <div class="col-md-12">
          <!-- Section title -->
          
          <div class="section-title">
             <h4><span class="color"><i class="icon-star"></i></span> Nuevos productos</h4>
          </div>    
          
          <div class="row">
             <div class="col-md-12">
                <div class="my_carousel">
                
                   <div class="carousel_nav pull-right">
                       <!-- Carousel navigation -->
                       <a class="prev" id="car_prev" href="#"><i class="icon-chevron-left"></i></a>
                       <a class="next" id="car_next" href="#"><i class="icon-chevron-right"></i></a>
                   </div>
                  
                   <ul id="carousel_container">
                    
                      <!-- Carousel item -->
                      <li>
                         <a href="/productos/cafetera-tipo-vending-marca-reahvendors-modelo-cin"><img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-frc3/t1.0-9/10003889_1436039773310134_5910408252753473860_n.jpg" alt="" class="img-responsive" style="width: 150px;"/></a>
                         <div class="carousel_caption">
                            <h5><a href="/productos/cafetera-tipo-vending-marca-reahvendors-modelo-cin">CAFETERA TIPO VENDING MARCA REAHVENDORS MODELO CINO XS</a></h5>
                            <p>Introducción de Cafetería</p>
                            <a href="/productos/cafetera-tipo-vending-marca-reahvendors-modelo-cin" class="btn btn-info btn-sm"><i class="icon-arrow-right"></i> Detalles</a>
                         </div>
                      </li>
                      
                      <!-- Carousel item -->
                      <li>
                         <a href="/productos/refrigerador-2"><img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-prn2/t1.0-9/10271499_1436039289976849_5422883071705727124_n.jpg" alt="" class="img-responsive" style="width: 150px;"/></a>
                         <div class="carousel_caption">
                            <h5><a href="/productos/refrigerador-2">Refrigerador 2</a></h5>
                            <p>Intro Refrigerador 2</p>
                            <a href="/productos/refrigerador-2" class="btn btn-info btn-sm"><i class="icon-arrow-right"></i> Detalles</a>
                         </div>
                      </li>
                      
                      <!-- Carousel item -->
                      <li>
                         <a href="/productos/refrigerador"><img src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-ash3/t1.0-9/1897907_1436039279976850_7632308746703078510_n.jpg" alt="" class="img-responsive" style="width: 150px;"/></a>
                         <div class="carousel_caption">
                            <h5><a href="/productos/refrigerador">Refrigerador</a></h5>
                            <p>Intro Refrigerador</p>
                            <a href="/productos/refrigerador" class="btn btn-info btn-sm"><i class="icon-arrow-right"></i> Detalles</a>
                         </div>
                      </li>
                      
                      <!-- Carousel item -->
                      <li>
                         <a href="/productos/ssp-24"><img src="https://scontent-b-dfw.xx.fbcdn.net/hphotos-prn2/t1.0-9/10177963_1436038943310217_4640566088610519468_n.jpg" alt="" class="img-responsive" style="width: 150px;"/></a>
                         <div class="carousel_caption">
                            <h5><a href="/productos/ssp-24">SSP-24</a></h5>
                            <p>Intro SSP-24</p>
                            <a href="/productos/ssp-24" class="btn btn-info btn-sm"><i class="icon-arrow-right"></i> Detalles</a>
                         </div>
                      </li>
                      
                      <!-- Carousel item -->
                      <li>
                         <a href="/productos/ss6-p"><img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-prn1/t1.0-9/10007405_1434135620167216_53134747963364943_n.jpg" alt="" class="img-responsive" style="width: 150px;"/></a>
                         <div class="carousel_caption">
                            <h5><a href="/productos/ss6-p">SS6 P</a></h5>
                            <p>Intro SS6 P</p>
                            <a href="/productos/ss6-p" class="btn btn-info btn-sm"><i class="icon-arrow-right"></i> Detalles</a>
                         </div>
                      </li>
                                            
                   </ul>
                   <div class="clearfix"></div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>

      

   