     
      <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="icon-th-list color"></i> Nuestros Productos </h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="shop-items">
         <div class="container">
            
            <div class="row">
               
               <div class="col-md-9 col-md-push-3">
               
                   <!-- Breadcrumb -->
                 <ul class="breadcrumb">
                   <li><a href="/">Inicio</a> <span class="divider"></span></li>                   
                   <li class="active">Productos</li>                   
                 </ul>     
                 

               
                 <!-- Items List starts -->                     
                      <div class="row" style="margin-top: 1em;">  
                        <div class="col-lg-8"></div>
                         <div class="col-lg-4">
                           <form class="form-inline" role="form">
                            <div class="form-group">
                              <input class="form-control" id="search" placeholder="Buscar producto..." ng-model="query">
                            </div>                           
                         </form>  
                         </div>
                      </div>                  
                       <div class="row">  
                        <!-- Item #1 -->
                        <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="producto in productos | filter:query | filter:filtro">
                          <div class="item">                            
                            <!-- Item image -->
                            <div class="item-image">
                              <a href="{{producto.slug}}"><img src="{{producto.imagen}}" alt="" class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="{{producto.slug}}">{{producto.nombre}}</a></h5>
                              <div class="clearfix"></div>
                              <!-- Para. Note more than 2 lines. -->
                              <p>{{producto.introduccion}}</p>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>  
                      </div>
                  <!-- Items List ends -->
                     <div class="row">
                        <div class="col-md-12">
                                    <!-- Pagination -->
                                    <ul class="pagination">
                                      <li><a href="#">&laquo;</a></li>
                                      <li><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                      <li><a href="#">&raquo;</a></li>
                                    </ul> 
                        </div>
                     </div>
               
               </div>
               
               
              <div class="col-md-3 col-md-pull-9">
                  <div class="sidey">
                     <ul class="nav">                                                
                        <li ng-model="filtro.categoria = 'Refrigeración'"><a href="">                         
                        <i class="icon-arrow white"></i>                           
                        &nbsp;Cocción</a>     
                        <li><a href=""><i class="icon-arrow white"></i>&nbsp;Refrigeración</a></li>
                        <li><a href=""><i class="icon-arrow white"></i>&nbsp;Cafeterías, Bares y Procesos</a></li>
                     </ul>
                  </div>
                  
                  <!-- Sidebar items (featured items)-->

                  <div class="sidebar-items">
                    {% include "extensions/featured.html" %}
                  </div>
               </div>
            </div>
            
            <div class="sep-bor"></div>
         </div>
      </div>
  