<!-- Page title -->
<div class="page-title">
   <div class="container">
      <h2><i class="icon-folder-open color"></i> Blog </h2>
      <hr />
   </div>
</div>
<!-- Page title -->

<!-- Page content -->

<div class="blog">
   <div class="container">
      <div class="row">
            <div class="col-md-9">
               <div class="posts">
                 
                  <!-- Each posts should be enclosed inside "entry" class" -->
                  <!-- Post one -->
                  <div class="entry" ng-repeat="post in posts">
                     <h2><a href="#/blog/{{post.slug}}">{{post.titulo}}</a></h2>
                     
                     <!-- Meta details -->
                     <div class="meta">
                        <i class="icon-calendar"></i> {{post.fecha}}
                     </div>
                     
                     <!-- Thumbnail -->
                     <div class="bthumb">
                        <a href="#/blog/{{post.slug}}"><img ng-src="{{post.imagen}}" width="100%" alt="" class="img-responsive" /></a>
                     </div>
                     
                     <!-- Para -->
                     <p ng-bind-html="post.contenido.slice(0, 200) + '...'"></p>

                     <!-- Read more -->
                     <a href="#/blog/{{post.slug}}" class="btn btn-info">Leer más</a>
                  </div>  
                  <div class="clearfix"></div>
                  
               </div>
            </div>                       
           

            <div class="col-md-3">

              <!-- Sidebar 2 -->
               <div class="sidebar">
                  <div class="widget">
                     <h4>Posts Recientes</h4>
                     <ul>
                        <li ng-repeat="post in posts"><a href="#/blog/{{post.slug}}">{{post.titulo}}</a></li> 
                     </ul>
                  </div>
                  <div class="widget">
                     <h3>Contacto</h3>
                      <!-- Address -->
                      <small>Periferico Nueva España #6442-B<br>
                      Morelia, Michoacán CP 58229<br>
                      <!-- Phone number -->
                      <abbr title="Phone">Tel:</abbr> (443) 324-4706
                      </small>
                  </div>                         
               </div>                                                
            </div>
        </div>
    </div>
</div>  

      
