      <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="icon-th-list color"></i> Nuestros Productos </h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="shop-items">
         <div class="container">
            
            <div class="row">
               
               <div class="col-md-9 col-md-push-3">
               
                   <!-- Breadcrumb -->
                 <ul class="breadcrumb">
                   <li><a href="/">Inicio</a> <span class="divider"></span></li>                   
                   <li class="active">Productos</li>                   
                 </ul>     
                 

               
                 <!-- Items List starts -->                     
                      <div class="row" style="margin-top: 1em;">  
                        <div class="col-lg-8"></div>
                         <div class="col-lg-4">
                           <form class="form-inline" role="form">
                            <div class="form-group">
                              <input class="form-control" id="search" placeholder="Buscar producto..." ng-model="query">
                            </div>                           
                         </form>  
                         </div>
                      </div>                  
                       <div class="row" style="min-height: 500px;">  
                        <!-- Item #1 -->
                        <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="producto in productos | filter:query">
                          <div class="item">                            
                            <!-- Item image -->
                            <div class="item-image">
                              <a href="#/productos/{{producto.id}}"><img ng-src="{{producto.imagen}}" alt="" class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="#/productos/{{producto.id}}">{{producto.nombre}}</a></h5>
                              <div class="clearfix"></div>
                              <!-- Para. Note more than 2 lines. -->
                              <p>{{producto.introduccion}}</p>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div> 
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                                    <!-- Pagination -->
                                    <ul class="pagination">
                                      <li><a href="#">&laquo;</a></li>
                                      <li><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                      <li><a href="#">&raquo;</a></li>
                                    </ul> 
                        </div>

                     

                      </div>
                  <!-- Items List ends -->              
               
               
               </div>
               
               
              <div class="col-md-3 col-md-pull-9">
                  <div class="sidey">
                     <ul class="nav">                                                
                        <li>
                          <a href="#/productos/categorias/coccion"><i class="icon-arrow-right white"></i>&nbsp;Cocción</a>
                        </li>
                        <li>
                          <a href="#/productos/categorias/refrigeracion"><i class="icon-arrow-right white"></i>&nbsp;Refrigeración</a>
                          </li>
                        <li>
                          <a href="#/productos/categorias/cafeterias"><i class="icon-arrow-right white"></i>&nbsp;Cafeterías, Bares y Procesos</a>
                        </li>
                        <li>
                          <a href="#/productos/categorias/electroprofesionales"><i class="icon-arrow-right white">&nbsp;Electroprofesionales</i></a>
                        </li>
                     </ul>
                  </div>
                  
                  <!-- Sidebar items (featured items)-->

                  <div class="sidebar-items">
                    <h5>Productos Recomendados</h5>  
                     <!-- Item #1 -->
                     <div class="sitem" ng-repeat="recomendado in recomendados">
                       <div class="onethree-left">
                         <!-- Image -->
                         <a href="#/productos/{{recomendado.slug}}"><img ng-src="{{recomendado.imagen}}" alt="" class="img-responsive"/></a>
                       </div>
                       <div class="onethree-right">
                         <!-- Title -->
                         <a href="#/productos/{{recomendado.slug}}">{{recomendado.nombre}}</a>
                         <!-- Para -->
                         <p>Intro Maestra Zem</p>       
                       </div>
                       <div class="clearfix"></div>
                     </div>
                  </div>
               </div>
            </div>
            
            <div class="sep-bor"></div>
         </div>
      </div>
     </div>
