      <!-- Page content -->
      
      <div class="contactus ">
            <!-- Google maps -->
            <!-- Google maps -->
            <div class="gmap">
               <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
               <iframe height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=foxsteel+morelia+mexico&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=44.60973,78.662109&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=19.709122,-101.164899&amp;spn=0.004848,0.006866&amp;z=17&amp;output=embed"></iframe>
            </div>
            
            <div class="container">
                        <div class="row">
                           <div class="col-md-6 col-sm-7">
                              <div class="cwell">
                                 <!-- Contact form -->
                                    <h5>Pongase en contacto con nosotros</h5>
                                    
                                    <form role="form">
                                      <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input type="text" class="form-control" id="name" placeholder="Ingresar nombre" required="true">
                                      </div>                                    
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">E-mail</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresar correo electronico" required="true">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Asunto</label>
                                        <textarea class="form-control" rows="3" required="true"></textarea>
                                      </div>                                      
                                      <button type="submit" class="btn btn-info">Enviar</button>
                                      <button type="reset" class="btn btn-default">Borrar Todo</button>
                                    </form>
                                    
                                 </div>
                           </div>
                           <div class="col-md-6 col-sm-5">
                                 <div class="cwell">
                                    <!-- Address section -->
                                       <h5>Dirección</h5>
                                       <div class="address">
                                           <address>
                                              <!-- Company name -->
                                              <h6>Foxsteel</h6>
                                              <!-- Address -->
                                              Periferico Nueva España #6442-B<br>
                                              Morelia, Michoacán CP 58229<br>
                                              <!-- Phone number -->
                                              <abbr title="Phone">Tel:</abbr> (443) 324-4706
                                           </address>
                                            
                                           <address>
                                              <!-- Name -->
                                              <h6>Correo electronico</h6>
                                              <!-- Email -->
                                              <a href="mailto:contacto@foxsteel.com">contacto@foxsteel.com</a>
                                           </address>
                                           
                                       </div>
                                 </div>
                           </div>
                        </div>

         </div>
      </div>
      
      
      <!-- Catchy starts -->
      <div class="catchy blocky">
      </div>  