      
      <div class="clearfix"></div>
      
         <!-- Carousel starts -->
              
         <div id="carousel-example-generic" class="carousel slide">
           <!-- Indicators -->
           <ol class="carousel-indicators">
             <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
             <li data-target="#carousel-example-generic" data-slide-to="1"></li>
             <li data-target="#carousel-example-generic" data-slide-to="2"></li>
           </ol>

           <!-- Wrapper for slides -->
           <div class="carousel-inner">
             <!-- Item -->
             <div class="item active animated fadeInRight">
               <img src="static/img/back1.jpg" alt="" class="img-responsive" />
               <div class="carousel-caption">
              </div>
             </div>
             
             <div class="item animated fadeInRight">
               <img src="static/img/back2.jpg" alt="" class="img-responsive" />
               <div class="carousel-caption">
               </div>
             </div>

             <div class="item animated fadeInRight">
               <img src="static/img/back3.jpg" alt="" class="img-responsive" />
               <div class="carousel-caption">
               </div>
             </div>          
           </div>

           <!-- Controls -->
           <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
             <span class="icon-prev"></span>
           </a>
           <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
             <span class="icon-next"></span>
           </a>
         </div>
         
         <!-- carousel ends -->
		
      <!-- Hero starts -->
      
      <div class="hero">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <!-- Catchy title -->
                  <h3>Mobiliario y equipo de acero inoxidable para cocina industrial.</h3>
                  <p>Soluciones integrales y apoyo profesional en sus proyectos de negocios, <br/> en el ramo del manejo de alimentos.</p>
               </div>
            </div>
          <div class="sep-bor"></div>
         </div>
      </div>
      
      <!-- Hero ends -->  
      
      <!-- Items List starts -->

      <div class="shop-items blocky">
        <div class="container">
          
         <div class="row">
            <!-- Item #1 -->            
            <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="producto in productos | limitTo:limitNumber">
              <div class="item">                
                <!-- Use the below link to put HOT icon -->                
                <div class="item-icon" ng-if="producto.producto_estrella"><span><i class="icon-star white"></i></span></div>               
                <!-- Item image -->
                <div class="item-image">
                  <a href="#/productos/{{producto.slug}}"><img ng-src="{{producto.imagen}}" alt="" class="img-responsive"/></a>
                </div>
                <!-- Item details -->
                <div class="item-details">
                  <!-- Name -->
                  <h5><a href="#/productos/{{producto.slug}}">{{producto.nombre}}</a></h5>
                  <div class="clearfix"></div>
                  <!-- Para. Note more than 2 lines. -->
                  <p>{{producto.introduccion}}</p>
                  <hr />                 
                  <div class="pull-right"><a href="#/productos/{{producto.slug}}" class="btn btn-danger btn-sm">Ver Producto</a></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>                
            </div>
            </div>           
         
      
      <!-- Recent Items -->	
          <!-- Recent Items --> 
          
<div class="recent-posts blocky">
 <div class="container">
    <div class="row">
       <div class="col-md-12">
          <!-- Section title -->
          
          <div class="section-title">
             <h4><span class="color"><i class="icon-star"></i></span> Nuevos productos</h4>
          </div>    
          
          <div class="row">
             <div class="col-md-12">
                <div class="my_carousel">
                
                   <div class="carousel_nav pull-right">
                       <!-- Carousel navigation -->
                       <a class="prev" id="car_prev" href=""><i class="icon-chevron-left"></i></a>
                       <a class="next" id="car_next" href=""><i class="icon-chevron-right"></i></a>
                   </div>
                  
                   <ul id="carousel_container">
                    
                      <!-- Carousel item -->
                      <li ng-repeat="nuevo in nuevos | limitTo:limitNumber">
                         <a ng-href="#/productos/{{nuevo.slug}}"><img src="{{nuevo.imagen}}" alt="" class="img-responsive" style="width: 150px;"/></a>
                         <div class="carousel_caption">
                            <h5><a href="#/productos/{{nuevo.slug}}">{{nuevo.nombre}}</a></h5>
                            <p>{{nuevo.introduccion}}</p>
                            <a href="#/productos/{{nuevo.slug}}" class="btn btn-info btn-sm"><i class="icon-arrow-right"></i> Detalles</a>
                         </div>
                      </li>  
                   </ul>
                   <div class="clearfix"></div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
      <!-- Recent Items Ends -->  
      <!-- Recent Items Ends -->	
      
      <!-- Clients starts -->
      <div class="clients blocky">
         <div class="container">
                  
            <div class="row">
              <div class="col-md-1 col-sm-4 col-xs-6"></div>
               <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="static/img/clients/amana.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="static/img/clients/asber.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="static/img/clients/bras.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="static/img/clients/dalla.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="static/img/clients/pavoni.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-1 col-sm-4 col-xs-6"></div>                
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-4 col-xs-6"></div>
              <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="static/img/clients/robot.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="static/img/clients/sanson.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="static/img/clients/true.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                  <div class="client">
                    <img src="static/img/clients/vitamix.png" alt="" class="img-responsive" />
                  </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6"></div>
            </div>
         </div>
      </div>
      <!-- Clients ends -->
