      <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="icon-asterisk color"></i> {{producto.nombre}} </h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="shop-items">
         <div class="container">
            
            <div class="row">
               
               <div class="col-md-9 col-md-push-3">
               
                  <!-- Breadcrumb -->
                 <ul class="breadcrumb">
                   <li><a href="#/">Inicio</a> <span class="divider"></span></li>
                   <li><a href="#/productos">Productos</a> <span class="divider"></span></li>
                   <li class="active">{{producto.nombre}}</li>
                 </ul>
               
                  <div class="single-item">
                      <div class="row">
                      <div class="col-md-2"></div>
                        <div class="col-md-4">

                          <div class="item-image">
                              <img ng-src="{{producto.imagen}}" alt="" />
                          </div>
                              

                        </div>
                        <div class="col-md-4" style="margin-top: 50px;">
                          <!-- Title -->
                            <h2>{{producto.nombre}}</h2>                           
                            <p>{{producto.introduccion}}</p>                             
                      
                        </div>
                      </div>
                    </div>

            <br /><br>
            <br>
            <br>
                    
                   <!-- Description, specs and review -->

                    <ul id="myTab" class="nav nav-tabs" style="margin-top: 30px;"> 
                      <li class="active"><a href="#tab1" data-toggle="tab">Caracteristicas</a></li>
                    </ul>

                    <!-- Tab Content -->
                    <div id="myTabContent" class="tab-content">
                      
                      <!-- Description -->
                      <div class="tab-pane fade in active" id="tab1">
                        <h4><strong>{{producto.nombre}}</strong></h4>
                        <div class="row">
                          <div class="col-md-8">
                            <h5 ng-bind-html="producto.caracteristicas"></h5>
                          </div>
                          <div class="col-md-4">
                            <h5><strong>Dimensiones:</strong></h5>
                            <h5 ng-bind-html="producto.dimensiones"></h5>
                            <br>
                            <h5><strong>Consumos:</strong></h5>
                            <h5 ng-bind-html="producto.consumos"></h5> 
                          </div>
                        </div>
                      </div>    
                    </div>
               
               </div>

               
               <div class="col-md-3 col-md-pull-9">         
                  
                  <!-- Sidebar items (featured items)-->

                   <div class="sidebar-items">                     
                      <h5>Productos Recomendados</h5>  
                     <!-- Item #1 -->
                     <div class="sitem" ng-repeat="recomendado in recomendados">
                       <div class="onethree-left">
                         <!-- Image -->
                         <a href="#/productos/{{recomendado.slug}}"><img ng-src="{{recomendado.imagen}}" alt="" class="img-responsive"/></a>
                       </div>
                       <div class="onethree-right">
                         <!-- Title -->
                         <a href="#/productos/{{recomendado.slug}}">{{recomendado.nombre}}</a>
                         <!-- Para -->
                         <p>Intro Maestra Zem</p>       
                       </div>
                       <div class="clearfix"></div>
                     </div>                
                   </div>
               </div>
            </div>
            
            <div class="sep-bor"></div>
         </div>
      </div>
     
     