{% load staticfiles %}
<h5>Productos Recomendados</h5>

  {% for e in estrellas %}
   <!-- Item #1 -->
   <div class="sitem">
     <div class="onethree-left">
       <!-- Image -->
       <a href="{% url 'producto' slug=e.slug %}"><img src="{{e.imagen}}" alt="" class="img-responsive"/></a>
     </div>
     <div class="onethree-right">
       <!-- Title -->
       <a href="{% url 'producto' slug=e.slug %}">{{e.nombre}}</a>
       <!-- Para -->
       <p>{{e.introduccion}}</p>       
     </div>
     <div class="clearfix"></div>
   </div>
   {% endfor %}
   
   