{% load staticfiles %}
<div class="recent-posts blocky">
 <div class="container">
    <div class="row">
       <div class="col-md-12">
          <!-- Section title -->
          {% if nuevos.first %}
          <div class="section-title">
             <h4><span class="color"><i class="icon-star"></i></span> Nuevos productos</h4>
          </div>    
          {% endif %}
          <div class="row">
             <div class="col-md-12">
                <div class="my_carousel">
                
                   <div class="carousel_nav pull-right">
                       <!-- Carousel navigation -->
                       <a class="prev" id="car_prev" href="#"><i class="icon-chevron-left"></i></a>
                       <a class="next" id="car_next" href="#"><i class="icon-chevron-right"></i></a>
                   </div>
                  
                   <ul id="carousel_container">
                    {% for e in nuevos %}
                      <!-- Carousel item -->
                      <li>
                         <a href="/productos/{{e.slug}}"><img src="{{e.imagen}}" alt="" class="img-responsive" style="width: 150px;"/></a>
                         <div class="carousel_caption">
                            <h5><a href="/productos/{{e.slug}}">{{e.nombre}}</a></h5>
                            <p>{{e.introduccion}}</p>
                            <a href="/productos/{{e.slug}}" class="btn btn-info btn-sm"><i class="icon-arrow-right"></i> Detalles</a>
                         </div>
                      </li>
                      {% endfor %}                      
                   </ul>
                   <div class="clearfix"></div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>