
  <!-- Facebook Icons -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div class="widget">
   <h4>Posts Recientes</h4>
   <ul>
    {% for e in posts %}
      <li><a href="{% url 'post' slug=e.slug %}">{{e.titulo}}</a></li>      
    {% endfor %}
   </ul>
</div>
<div class="widget">
   <h3>Contacto</h3>
    <!-- Address -->
    <small>Periferico Nueva España #6442-B<br>
    Morelia, Michoacán CP 58229<br>
    <!-- Phone number -->
    <abbr title="Phone">Tel:</abbr> (443) 324-4706
    </small>
</div>  
<div class="widget">
  <div class="fb-like" data-href="https://www.facebook.com/poliforumdigital" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
</div>     