 <!-- Items List starts -->
      {% verbatim %}  
      <div class="row" style="margin-top: 1em;">  
        <div class="col-lg-8"></div>
         <div class="col-lg-4">
           <form class="form-inline" role="form">
            <div class="form-group">
              <input class="form-control" id="search" placeholder="Buscar producto..." ng-model="query">
            </div>                           
         </form>  
         </div>
      </div>                  
       <div class="row">  
        <!-- Item #1 -->
        <div class="col-md-4 col-sm-4 col-xs-6" ng-repeat="producto in productos | filter:query ">
          <div class="item">                            
            <!-- Item image -->
            <div class="item-image">
              <a href="{{producto.slug}}"><img src="{{producto.imagen}}" alt="" class="img-responsive"/></a>
            </div>
            <!-- Item details -->
            <div class="item-details">
              <!-- Name -->
              <h5><a href="{{producto.slug}}">{{producto.nombre}}</a></h5>
              <div class="clearfix"></div>
              <!-- Para. Note more than 2 lines. -->
              <p>{{producto.introduccion}}</p>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>                     
    {% endverbatim %}           

     

      </div>
  <!-- Items List ends -->